/* You can add global styles to this file, and also import other style files */
img{
    height: 200px;
}
.h{
    height: 450px;
    position: relative;
}
.p-b{
    position: absolute;
    bottom: 4%;
}